.git
.gitignore
**/.gitkeep
**/node_modules
**/.venv
frontend/dist
frontend/.vite
backend/vendor
backend/storage/app/private/*
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/*.sqlite
backend/database/*.sqlite-journal
*.env
.env
!**/.env.example
.idea
.vscode
*.md
!README.md